h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: blue;
}

.strong {
    text-shadow: 5px 3px 1px #0081C9;
}

.writer{
    font-size: 5;
    font-style: italic;
    color: #5BC0F8;
}

.content{
    font-size: 10;
    font-family: 'Times New Roman', Times, serif;
    color: #FFC93C;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
    display: inline;
  }

.buffer{
    padding-left: 90px;
    padding-right: 90px;
    color: blue;
    background: green;
}

li:hover {
    background-color: yellow;
  }

img {
    /* max-width: 100%; */
    height: auto;
    width: auto\9; 
}

div {
    border-style: solid;
    border-color: black;
}
